h1 {
  color : gold;
  text-align : center;
  font-family: arial;
}

.mani {
  color: orange;
  font-family: arial;
}

h2 {
  color : green;
  text-align: center;
  font-family: sans-serif
}

h3 {
  color: hotpink;
  text-align: center;
  font-family: arial;
}
.deepak {
  color: silver;
  text-align: center;
  font-family: arial;
}

h5 {
  color: blue;
  text-align: center;
  font-family: arial;
}

h6 {
  color: purple;
  text-align: center;
  font-family : arial;
}

.surgeon {
  color: gold;
}

.seth-rollins {
  color: orange;
}

.beast {
  color: silver;
  font-family: ariel;
}

h4 {
  margin: 10px;
  padding: 10px;
  color: red;

}






















